<html>
	<body>
		<div style="width: 600px;">
			<a href="http://{{ domain }}"><h3>Добро пожаловать на сайт "Фото на холсте"</h3></a>
			<br />
			<br />
			<p>Спасибо за регистрацию на сайте <a href="http://{{ domain }}">"Фото на холсте"</a></p>
			<p>Что бы подтвердить регистрацию, перейдите по ссылке:</p>
			<p><a href="http://{{ domain }}/account/registration/confirm/{{ auth_key }}">http://{{ domain }}/account/registration/confirm/{{ auth_key }}</a></p>
			<br />
			<br />
			<p>Если вы не регистрировались на сайте, проигнорируйте это письмо.</p>
			<p>Не пишите на этот емаил, все письма будут проигнорированы.</p>
		</div>
	</body>
</html>
