{% extends "admin/change_form.html" %}
{% block extrahead %}
{{ block.super }}
<script type="text/javascript" src="/static/js/ckeditor/ckeditor.js"></script>

<script type="text/javascript">
var $ = jQuery = django.jQuery.noConflict(); 
</script>

<script type="text/javascript" src="/static/js/ckeditor/adapters/jquery.js"></script>

<script type="text/javascript" charset="utf-8">
$(document).ready( function(){
 $( 'textarea' ).ckeditor({
  "skin":"kama",
  "width" : 850,
  "toolbar" : "Full",
 });
});
</script>

<style type="text/css">
div>.cke_skin_kama{
 width: 100%;
 padding: 0!important;
 clear: both;
}
</style>

{% endblock %}
