{% if total_thumbs > 0 %}
	<h3>Загруженые изображения</h3>
	<h4>Выберете изображение для обработки:</h4>
	<div>
		{% for thumb in thumbs %}
			<div class="thumbs left" id="{{ thumb.id }}">
				<a href="/crop/option?id={{ thumb.id }}" />
					<img src="{{ dir }}{{ thumb.img }}.{{ ext }}" alt="" />
				</a><br />
				<center>
					<a href="javascript: delImage('/crop/del?id={{ thumb.id }}', '{{ thumb.id }}')" >Удалить</a>
				</center>
			</div>
		{% endfor %}
		<div class="clear"></div>
	</div>
{% endif %}
