@import"reset.css";@import"superfish.css";@import"grid.css";@import"forms.css";@import"prettyPhoto.css";@import"galleryfic.css";@import"kwicks.css";@import"coin-slider.css";
body{
	background:url(../images/body-bg-top.jpg) 50% 0 no-repeat #fff;
	font:14px/20px Arial, Helvetica, sans-serif;
	color:#828387;
	min-width:960px;
} 
html,body{height:100%;}
#privacy{line-height:18px;}
#privacy p{margin:0 0 18px;}



.main{margin:10px auto;width:950px;}
.bg{min-height:100%;background:url(../images/body-bg-bottom.png) 50% 100% repeat-x}



a{color:#e90000;outline:none;cursor:pointer;text-decoration:underline;}
a:focus{border:none;outline:none;}
a:hover{text-decoration:none;}
.clear{clear:both;line-height:0;font-size:0;overflow:hidden;height:0;width:100%;}
.wrapper{width:100%;overflow:hidden;}
.extra-wrap{overflow:hidden;display:block;}
p{margin-bottom:18px}
.p0{margin-bottom:0 !important}
.p1{margin-bottom:8px !important}
.p2{margin-bottom:15px !important}
.p3{margin-bottom:30px !important}
.p4{margin-bottom:40px !important}
.p5{margin-bottom:50px}
.p6{margin-bottom:60px !important;}
.p7{margin-bottom:70px}
.reg{text-transform:uppercase}
.fleft{float:left}
.fright{float:right}
.alignright{text-align:right}
.aligncenter{text-align:center}
.alignmiddle *{vertical-align:middle}
.it{font-style:italic}
.letter{letter-spacing:-1px}
.color-1{color:#fff}
.color-2{color:#000}
.color-3{color:#6c90ba}



.margin-bot{margin-bottom:35px !important}
.spacing{margin-right:30px;}
.spacing2{margin-right:6px}
.spacing3{margin-right:60px}
.indent-bot{margin-bottom:20px !important}
.indent-bot2{margin-bottom:30px}
.indent-bot3{margin-bottom:45px}
.img-indent-bot{margin-bottom:25px !important}
.img-indent{float:left;margin:0 20px 0px 0}
.img-indent2{float:left;margin:0 14px 0px 0}
.img-indent3{float:left;margin:0 10px 0px 0px}
.img-indent-r{float:right;margin:0 0px 0px 30px}
.prev-indent-bot{margin-bottom:10px !important}
.prev-indent{float:left;margin:0 17px 0px 0}
.padding-top{padding-top:10px}
.padding-top1{padding-top:30px}
.padding-top2{padding-top:25px}
.border{padding:7px;background:#e9e9e9;border-radius:7px;display:inline-block;position:relative;}
.border.border2{border-radius:18px;position:relative;}
.border img{border:1px solid #c6c6c6;}
.border a{display:inline-block;position:relative;}
.border.border2 img{border-radius:12px;}
.border span{display:inline-block;box-shadow:0 0 0 2px rgba(0,0,0,.03) inset;left:1px;top:1px;bottom:1px;right:1px;position:absolute;}
.border.border2 em{position:absolute;top:8px;left:8px;right:8px;bottom:8px;border-radius:11px;box-shadow:0 0 0 2px rgba(0,0,0,.03) inset}
.border>span{top:8px;left:8px;right:8px;bottom:8px;}



header{padding:22px 0 0;}
header h1{float:left;margin:0px 0 0 5px;padding:0 0 26px}
header h1 a{background:url(../images/logo.png) 0 0 no-repeat;width:212px;height:48px;text-indent:-5000px;overflow:hidden;display:block;}
header nav{position:relative;z-index:99;padding-bottom:6px;background:url(../images/nav-border.png) 0 100% repeat-x;}

.blocks{overflow:hidden;margin:0 auto;width:960px;}
.blocks li{float:left;margin:0 5px;}
.blocks li a{display:block;position:relative;padding:1px;background:#dedede;color:#828387;text-decoration:none;line-height:20px;}
.blocks li a>div{background:#fff;}
.blocks li a>div>div{padding:38px 38px 32px 40px;width:150px;position:relative;z-index:2;}
.blocks li a h2{color:#002245;margin:12px 0 20px}
.blocks li a>div>span{position:absolute;top:0;bottom:0;left:0;right:0;background:url(../images/blocks-hover.png) 50% 0 no-repeat #002245;opacity:0;}
.main-img{margin-top:-6px;}



section#content{padding:0px 0 71px;}
section#messages{}
section#user_online{padding:10px 0 0px 20px;}



h1,h2,h3,h4,h5,h6{margin:0 0 31px;line-height:1.2em;color:#696969;font-weight:normal;letter-spacing:-1px}
h1{font-size:28px;}
h2{font-size:24px;}
h3{font-size:21px;} 
h4{font-size:17px;line-height:27px;word-spacing:3px;}   
h5{font-size:15px;}
h6{font-size:14px;margin:0 0 14px;}
h1 strong{color:#828282;font-size:52px;letter-spacing:-1px;line-height:1.2em;display:block;font-weight:normal;text-transform:uppercase;}
h1 em{color:#6c90ba;font-size:50px;line-height:1.2em;display:block;}
h2.color{color:#002245;line-height:18px;margin:0 0 15px;}
.padding-right{padding-right:30px}
h4 img{vertical-align:middle;margin-right:10px;}
h5.marker{background:url(../images/marker.png) 2px 50% no-repeat;padding:0 0 0 39px;}

.col-1{background:url(../images/arrow.png) 100% 50% no-repeat;width:120px;float:left;padding-right:87px;margin-right:14px}
.col-2{padding-right:0;margin-right:0px}

.relative{position:relative;z-index:4}
figcaption{position:absolute;bottom:8px;z-index:5;left:8px;right:8px;background:#0a1f53;color:#fff;padding:5px 0;font-size:24px;text-align:center;line-height:1.2em;}
.scroll{overflow:auto;height:180px;position:relative}
.border-bot{padding:0 0 55px;margin:0 0 46px;background:url(../images/banners-border.gif) 0 100% repeat-x;}
.border-bot2{border-bottom:1px solid #d7d7d7;padding-top:20px;margin-bottom:30px;}

.block{background:url(../images/block.jpg) 50% 0 no-repeat #002245;padding:24px 18px 33px 27px;position:relative;overflow:hidden;border:1px solid #354658;color:#a3a4a6;line-height:20px;}
.block h2{color:#fff;padding:0 0 0 15px;margin:0 0 5px;}




.button{color:#fff;display:inline-block;background-color:#002245;background-image:url(../images/button.png);background-position:50% -82px;text-decoration:none;padding:9px 16px 8px;font-size:10px;line-height:1.2em;text-transform:uppercase;background-position-x:50% !important;}
.button i{color:#fff;}
.button1{color:#fff;display:inline-block;background:#696969;text-decoration:none;padding:8px 15px 9px;font-size:10px;line-height:1.2em;text-transform:uppercase;}
.link{text-decoration:none;color:#e50011;}
.link:hover{text-decoration:underline;}
.link-1{color:#e90000;font-style:italic;font-size:12px;text-decoration:none;}
.link-1:hover{text-decoration:underline;}
.link-2{color:#424141;font-weight:bold;}
.unsubscribe{color:#0266a0;text-transform:uppercase;font-size:10px;line-height:1.2em;}

.list-1 li{padding:0px 0 6px 0;line-height:21px;overflow:hidden;position:relative;font-size:13px;}
.list-1 li span{background:url(../images/list1-marker.gif);background-position:8px 50%;background-repeat:no-repeat;background-color:#fff;float:left;width:19px;height:19px;margin-right:10px;border-radius:10px;border:1px solid #d2d2d2;}
.list-1 li div{overflow:hidden;}
.list-1 li a{color:#828387;text-decoration:none;}
.list-1 li a:hover{color:#e90000;}

.list-2 li{padding:0px 0 12px 17px;background:url(../images/list1-marker.png) 0 5px no-repeat;}
.list-2 li a{font-size:14px;color:#6c90ba;}

ol li{list-style:decimal;list-style-position:inside;color:#e50011;font-size:13px;padding:0 0 9px}
ol li span{color:#696969;}
ol li a{color:#e50011;text-decoration:none;margin-left:-3px;}
ol li a:hover{text-decoration:underline;}

time{display:block;font-size:12px;font-style:italic;padding:0 0 10px 24px;background:url(../images/time.gif) 0 0 no-repeat;line-height:16px;overflow:hidden;}
time a{color:#e90000;}
time.inline{display:inline;padding:1px 0 0px 24px;}

.white-block{background:#fff;border:1px solid #dedede;padding:38px 40px 28px 40px;}
.white-block h2{margin:0 0 20px;}
.white-block ul{font-weight:bold;padding:0 0 5px;}
.white-block li{padding:0 0 8px;}
.white-block ul img{vertical-align:middle;margin-right:20px;}
.white-block ul a{color:#828282;text-decoration:none;display:inline-block;vertical-align:middle;}
.white-block ul a:hover{color:#e90000;}

.dropcap{float:left;font-size:36px;line-height:1.2em;width:30px;color:#002245;font-weight:normal;}
.dropcap_2{display:inline-block;color:#fff;font-size:28px;line-height:34px;text-align:center;background:#6c90ba;width:56px;border-radius:28px;padding:11px 0}
.arrow{background:url(../images/arrow.png) 0 0 no-repeat;width:41px;height:100px;margin:53px 0 0 9px;}
.text1{font-size:13px;line-height:18px;}
.text2{line-height:18px;}

#map_canvas, #YMapsID{width:295px;height:222px;border:1px solid #c5c4c6;}

aside{padding:60px 0 15px;}
aside li{margin:0 0 6px;}
aside li a{color:#a5a4a4;text-decoration:none;}
aside li a:hover{color:#000;}

aside .icons{padding:4px 0 0;}
aside .icons a{position:relative;display:inline-block;margin:0 3px 0 0;}
aside .icons a img{position:relative;}
aside .icons>a>img+img{position:absolute;top:0;left:0;opacity:0;}




footer{padding:56px 0px;overflow:hidden;background:url(../images/content-border.jpg) 50% 0 no-repeat;font-size:13px;line-height:18px;}
footer a{color:#828387;}
footer .footer-logo{display:block;background:url(../images/footer-logo.png) 0 0 no-repeat;width:110px;height:26px;text-indent:-1000px;overflow:hidden;margin:0 0 15px;}
footer .reg{font-size:11px;}
footer p{margin:0 0 13px;}




blockquote{display:block;margin:0 0px 35px 0px;quotes:none;font-size:24px;line-height:30px;color:#002245;background:url(../images/quotes.png) 0 0 no-repeat;padding:0 0 0 40px;}

.top1{background:url(../images/top.gif) 0 60% no-repeat;padding:0 0 0px 13px;display:inline-block;text-decoration:none;color:#002245;font-size:11px;line-height:1.2em;text-transform:uppercase;}
.top1:hover{color:#e90000;}

ins{background:#132c6b;padding:0 5px;color:#fff;text-decoration:none;}
del{text-decoration:line-through;}
abbr{cursor:help;color:#132c6b;}
dfn{letter-spacing:2px;color:#1f1f1f;}
sub{vertical-align:bottom}
sub,sup{font-size:.7em}
em,i{color:#e90000;}
var{color:#132c6b;}
.elements-list small{font-size:10px;font-family:Verdana,Geneva,sans-serif;} 
.elements-list big{font-size:24px;color:#132c6b;}
.elements-list q{font-family:"Courier New",Courier,monospace;color:#424242;}
abbr,acronym{text-transform:uppercase;border-bottom:1px dotted #132c6b;}
pre,code,tt{font:1em 'andale mono','lucida console',monospace;line-height:1.5;display:block}
code{background-color:#f6f6f6;display:block;color:#333;padding:3px 2px 3px 5px;line-height:1.67em;border:1px dotted #333}
pre{white-space:pre}



.layouts-nav{width:100%;overflow:hidden;padding-bottom:30px !important}
	.layouts-nav li{float:left;margin-right:20px;background:none !important;padding:0 !important}
		.layouts-nav li a{float:left;background:#333;padding:2px 10px;color:#fff;position:relative;margin-right:10px;cursor:pointer;text-decoration:none;}
		.layouts-nav li a:hover{background:#aaa}

		
		
dl{line-height:24px;}
dl dd span{width:83px;display:inline-block;}
dl dd a{text-decoration:none;color:#e90000}
dl dd a:hover{text-decoration:underline;}




.info-box,.download-box,.notification-box,.error-box{padding:20px 30px 20px 110px;margin-bottom:15px;position:relative;height:1%;font-size:13px;}
.info-box{color:#64757f;background:#e1f2fc;border:1px solid #68a2cf}
.download-box{color:#697a58;background:#eeffdd;border:1px solid #a3c159}
.notification-box{color:#79725b;background:#fef7e0;border:1px solid #e6c555}
.error-box{color:#7e6c6c;background:#feebeb;border:1px solid #ff9999}
.info-box p.icon,.download-box p.icon,.notification-box p.icon,.error-box p.icon{position:absolute;left:34px;top:16px;margin:0}



#constuction-box{width:800px;height:500px;position:absolute;left:50%;top:50%;margin-left:-400px;margin-top:-250px;background:#fff;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;border-color:#ccc;box-shadow:0 0 10px #d0d4db;-moz-box-shadow:0 0 10px #d0d4db;-webkit-box-shadow:0 0 10px #d0d4db;text-align:center}
	#constuction-box .inside{padding:40px 40px 40px 40px}
		#constuction-box .button{position:relative}
		#constuction-box h1{text-align:center;font-size:4em;margin-bottom:.2em;line-height:1.2em;letter-spacing:2px;border-bottom:1px solid #ddd;padding-bottom:10px;}
			#constuction-box h1 span{color:#00c4ff;display:block;margin-bottom:-15px}			

			
			
	#countdown_dashboard{height:110px;padding:30px 0 40px 0;width:650px;margin:0 auto;position:relative}
	.dash{width:110px;height:114px;background:transparent url('../images/dash.png') 0 0 no-repeat;float:left;margin-left:20px;position:relative}	
	.dash .digit{font-size:75px;line-height:92px;font-weight:bold;float:left;width:55px;text-align:center;font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;color:#555;position:relative}
		.dash .digit .bottom{font-size:75px;line-height:92px}	
	.dash_title{position:absolute;display:block;bottom:0px;left:0;font-size:12px;color:#555;letter-spacing:2px;width:110px}	
	.dev_comment{font-size:14pt;color:#777;text-align:center;font-style:italic;margin:40px 10px}	
	#subscribe_form{position:relative}	
	#email_field{font-size:16pt;padding:6px 10px;width:300px}	
	#subscribe_button{font-size:14pt;color:#333;padding:4px 8px}	
	.copyright{font-size:9pt;color:#333;margin:40px 0px}	
	.faded{color:#999}	
	.form_message{width:400px;padding:10px;margin:15px auto;display:none}	
	#error_message{background-color:#ffe;border-left:5px solid #bb3;border-right:5px solid #bb3;color:#770}
	#info_message{background-color:#f0f9ff;border:1px solid #eef}
	#loading{text-align:center;margin:10px;display:none;position:absolute;width:100%;top:60px}

	
	
#intro-box{width:600px;height:400px;position:relative;left:50%;top:50%;margin-left:-300px;margin-top:-200px;background:#fff;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;border-color:#ccc;box-shadow:0 0 10px #000;-moz-box-shadow:0 0 10px #000;-webkit-box-shadow:0 0 10px #000;text-align:center;float:left}
	#intro-box .inside{padding:40px 40px 40px 40px}
		#intro-box h1{text-align:center;font-size:4em;margin-bottom:.2em;line-height:1.2em;position:absolute;left:0;top:-90px;width:600px;overflow:hidden;height:100px;border:none;color:#131313}
			#intro-box h1 span{color:#1fb7c4;display:block;margin-bottom:-15px}
		#intro-box .button{position:absolute;right:40px;bottom:10px;float:right;white-space:nowrap}
		.intro-buttons{width:500px;padding:0 50px;position:absolute;left:0;bottom:50px}
		#flash-intro{margin-bottom:20px;position:absolute;left:23px;top:20px}

.img-404{margin:0px 0 0 18px;}




.lightbox-image{display:inline-block;position:relative;overflow:hidden;}
.lightbox-image span{left:1px;top:1px;bottom:1px;right:1px;position:absolute;}



	.slideDown dt{background-color:#333132;background-image:url(../images/arrow1.gif);background-repeat:no-repeat;background-position:100% 16px;box-shadow:1px 1px 1px #d1d1d1;-moz-box-shadow:1px 1px 0 #d1d1d1;-webkit-box-shadow:1px 1px 0 #d1d1d1;color:#fff;padding:9px 0 9px 21px;margin-bottom:4px;font-weight:bold;display:block;font-size:12px;cursor:pointer;margin-bottom:10px}
	.slideDown dt:hover,.slideDown dt.active{background-color:#bbb;color:#fff;text-shadow:0 0 5px #fff}
	.slideDown dt.active{background-image:url(../images/arrow2.gif)}
	.slideDown dd{display:none;padding:10px 20px 20px 20px;line-height:20px;}
	#block dd{display:block}
	.slideDown.absolute{position:relative;}
	.slideDown.absolute dd{position:absolute;z-index:999;background:#fff;}

	
	
dl#accordion{list-style-type:none;margin:0;padding:0 2px 0 0;height:auto !important}
	dl#accordion .indent{padding-top:7px !important;padding-bottom:5px !important}
	dl#accordion a{display:block;}
	dl#accordion dt{margin:0px}
		dl#accordion dt a{background-color:#333132;background-image:url(../images/arrow1.gif);background-repeat:no-repeat;background-position:100% 16px;box-shadow:1px 1px 1px #d1d1d1;-moz-box-shadow:1px 1px 0 #d1d1d1;-webkit-box-shadow:1px 1px 0 #d1d1d1;color:#7f7f7f;padding:9px 0 9px 21px;margin-bottom:4px;font-weight:bold;display:block;font-size:12px;text-decoration:none;}
		dl#accordion dt a:hover{background-color:#8e8d8b;color:#fff}
		dl#accordion dt.active a{background-color:#ccc;background-image:url(../images/arrow2.gif);color:#333}
	dl#accordion dd{display:none;margin-bottom:0;padding-left:0}
		dl#accordion dd .indent{padding:10px 30px 14px 20px !important}
		dl#accordion dd a{display:inline;background:none;padding:0;width:auto;text-decoration:none}
		dl#accordion dd a:hover{background:none}
		dl#accordion dd .sub_menu  li{list-style:none;line-height:30px!important;padding-left:12px;}
		.sub_menu{font-size:12px;line-height:16px;}
		.sub_menu li a{line-height:30px !important;text-decoration:underline !important;}
		.sub_menu li a:hover{text-decoration:none !important;}

		
		
#aToolTip{border:2px solid #444;background:#555;color:#fff;margin:0;padding:2px 8px;font-size:11px;position:absolute;display:none;z-index:50000}
#aToolTip .aToolTipContent{position:relative;margin:0;padding:0}
a#aToolTipCloseBtn{display:block;height:20px;width:20px;overflow:hidden;background:url(../images/close.gif) no-repeat;text-indent:-9999px;outline:none;position:absolute;top:-15px;right:-20px}



.elements-list li{background:none !important;padding:0 0 0px 0 !important;position:relative;line-height:28px}
.elements-list li code{position:absolute;right:0;top:-3px;padding:2px 3px 1px 3px;border:1px dotted #333}



.tabs{padding:10px 0}
	.tabs ol{list-style-type:decimal;margin:0 0 0 20px}
		.tabs ol li{display:list-item;float:none;padding-bottom:5px !important;font-size:12px;color:#6b6a6a}	
	.tabs ul{list-style:none;padding:0 0 0 0 !important;overflow:hidden}
		.tabs li{display:block;float:left;margin:0 5px 5px 0;background:none;padding:0 0 0 0 !important}
		.tabs .selected{margin-bottom:0px;position:relative}
		.tabs .selected a{background:#f0f0f0;color:#000;padding-bottom:10px}
		.tabs li a:hover{background:#f0f0f0;color:#000}
		.tabs li a{background:#000;color:#fff;display:block;padding:5px 10px;text-decoration:none}
	.tabs .tab-content{background:#f0f0f0;clear:both;width:auto;overflow:auto}
		.tabs .tab-content .inner{padding:10px}	
	.tabs p{margin-bottom:5px}
	.tabs .tab-content strong{color:#000}	
	.tabs pre{margin:4px 0}
	.tabs code{overflow:auto}
	*+html .tabs code{overflow:visible}

	
	
#twitter p{margin:0;}
	#twitter h2{margin:0 0 5px 0;padding:.5em 1em;font-size:1.5em;color:#fff;background-color:#888;letter-spacing:0;border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px}
	#preloader{margin:0;padding:1em 1em 1em 3em;text-indent:10px;background:transparent url(../images/loader.gif) 1em center no-repeat}
	ul#twitter_update_list{margin:0;padding:0 0 0.5em 0;list-style-type:none}
		ul#twitter_update_list li{margin:0;padding:0.8em 0 1em 1em !important;background:#f0f0f0;margin-bottom:7px}
		ul#twitter_update_list li:hover{background-color:#ccc;color:#fff}
			ul#twitter_update_list li:hover a{color:#000}
			ul#twitter_update_list li a{color:#000}			
				ul#twitter_update_list li span{display:block}				
				ul#twitter_update_list li span a{color:#000}
			ul#twitter_update_list li.lastTweet{border-bottom:none}			
			a#profileLink{display:block;padding:0.3em 1em;color:#fff;background-color:#000}
			a#profileLink{display:block;padding:0.3em 1em;color:#fff;background-color:#000}

			
			
.code{padding:30px 0 10px 0}
.code a.code-icon{margin-bottom:10px}
.code a.code-icon i{padding-right:6px;font-style:normal}
.code div.grabber{display:none}
.code code{padding:0 10px 0 10px;background:#f6f6f6;color:#333;border:1px solid #dfdfdf;white-space:pre;overflow:auto}





.left {float: left}
.right {float: right}

#upload_progress {
	padding: 10px 0 0 0;
}

#thumb_prev {
	padding: 6px;
}

#wrapper_option {
	padding: 7px 6px;
}

.accordionButton {
	background-color: #ededed;
	height: 18px;
	width: 300px;
	border: 1px solid #a9a9a9;
	margin: 0px;
	margin-top: -1px;
	padding: 2px 0 0 8px;
	text-align: left;
}

.accordionContent {
	background-color: #fff;
	width: 290px;
	border: 1px solid #a9a9a9;
	margin: 0px;
	margin-top: -1px;
	padding: 6px 6px 6px 12px;
	text-align: left;
}

.accordionContentBottom {
	background-color: #fff;
	width: 312px;
	margin: 0px;
	padding: 0px;
	text-align: left;
}

.accordionContent ul {
	padding: 0;
}

.accordionContent li {
	list-style: none;
	padding: 0;
}

.choise_mosaic {
	
}

.choise_mosaic_table {
	border: 0px solid #fff !important;
	width: 100%;
}

.choise_mosaic_table td {
	border: 0px solid #fff !important;
	width: 33%;
	background: transparent;
}

.choise_mosaic_table tr:hover td {
	background: transparent;
}

.mosaic_table td {
	background: transparent;
	padding: 0px;
}

.mosaic_table tr:hover td {
	background: transparent;
}

.mosaic_table td:hover {
	background: #828387 !important;
	color: #fff !important;
}




.mosaic_div {
	border: 0px solid #fff !important;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

.mosaic_div tr:hover td {
	background: transparent;
}

.mosaic_div td {
	border: 0px solid #fff !important;
	background: transparent;
	padding: 0px 0px 1px 0px;
}

.mosaic_div tr:hover td {
	background: transparent;
}

.mosaic_div_td {
	border: 1px solid #bfbfbf;
	background: transparent;
	margin: 0px -1px -1px 0px;
	padding: 0px;
}

.mosaic_div_td:hover {
	background: #828387;
	color: #fff;
}

.mosaic_form {
	margin-left: 30px;
	background: transparent;
}

.mosaic_form table, .mosaic_form table td {
	border: 0px;
	padding: 4px;
	text-align: left;
	background: transparent;
}

.mosaic_form table tr:hover td {
	background: transparent;
	color: #828387;
}

.top-shadow{
	background: url(../images/top_shadow.png) 0 0 no-repeat;
	height: 35px;
}

.centr{
	background-color: #fff;
}

.block-top{
	height: 384px;
	background-color: white;
}

.block-top .note{
	font-size: 26px;
	width: 300px;
	float: left;
	margin: 65px 0 0 30px;
	line-height: 40px;
}

.clear{
	clear: both;
}

.highlight{
	font-size: 20px;
	text-align: center;
	margin-bottom: 30px;
}

.thblock{
	width: 260px;
	float: left;
	margin-right: 85px
}

.thblock img, .thblock h2{
	margin-bottom:20px
}

.centr{
	background-color: white;
}

.step div.desc_step{
	padding:6px;
	margin-right: 10px;
	-webkit-border-radius: 8px;
	-khtml-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	font-size: 12px;
	font-style: italic;
	line-height: 16px;
	background-color: #F4F4F4;
	color: #C0C0C0;
}

.step div span {
	font-style: normal;
}

.step.active div.desc_step{
	background-color:#bbb; 
	color:#fff;
}

div.step_arrow{
	height: 7px;
}

.step.active div.step_arrow{
	background: url(../images/step_arrow.png) 20px 0 no-repeat;
}





.optButton {
	background-color: #ededed;
	height: 18px;
	width: 194px;
	border: 1px solid #a9a9a9;
	margin: 0px;
	margin-top: -1px;
	padding: 2px 0 4px 8px;
	text-align: left;
}

.optContent {
	background-color: #fff;
	width: 184px;
	border: 1px solid #a9a9a9;
	margin: 0px;
	margin-top: -1px;
	padding: 6px 6px 6px 12px;
	text-align: left;
}

.optContent input[type="text"] {
	width: 157px !important;
}

.optContentBottom {
	background-color: #fff;
	width: 206px;
	margin: 0px;
	padding: 0px;
	text-align: center;
}

.optContent ul {
	padding: 0;
}

.optContent li {
	list-style: none;
	padding: 0;
}





.frame_choise {
	background-color: #ededed;
	width: 120px;
	border: 1px solid #a9a9a9;
	margin: 0px;
	padding: 4px;
	text-align: left;
}

.frame_choise img, .frame_item img, .frame_item_select img {
	height: 76px;
	width: 76px;
}

.frame_choise small, .frame_item small {
	font-size: 10px;
}

.frame_parent {
	position: relative;
}

.frame_view {
	max-height: 228px;
	width: 304px;
	background-color: #ededed;
	border: 1px solid #a9a9a9;
	position: absolute;
	z-index: 50000;
	left: -85px;
	top: 107px;
	overflow: auto;
	display: none;
}

.frame_item {
	background-color: #ededed;
	border: 1px solid #a9a9a9;
	margin: 4px;
	padding: 4px;
	text-align: center;
	width: 78px;
}

.frame_item_select {
	color: #fff;
	background-color: #262c77;
	border: 1px solid #a9a9a9;
	margin: 4px;
	padding: 4px;
	text-align: center;
	width: 78px;
}

.frame_click {
	background: url(../images/arrow_down.png) 0 0 no-repeat;
	width:40px;
	height:36px;
	margin-top: 28px;
}

.errorlist {
	color: #ff0000;
	padding-bottom: 4px;
}

.error {
	background-color:#f4f4f4;
	border-left:5px solid #ff0000;
	border-right:5px solid #ff0000;
	padding: 12px 0 12px 0px;
	margin: 0px 5px 0px 5px;
	color: #ff0000;
	font-weight:bold;
}

#contact-form .error, #contact-form .empty {
	background-color: #F4F4F4;
	border-left: 0;
	border-right: 0;
	padding: 0;
	margin: 0;
}

.success {
	background-color:#f4f4f4;
	border-left:5px solid #0006ff;
	border-right:5px solid #0006ff;
	padding: 12px 0 12px 0px;
	margin: 0px 5px 0px 5px;
	color: #0006ff;
	font-weight:bold;
}

.scale {
	margin: 0 0 20px 0;
	background: url(/static/images/scale_quality.jpg) repeat-y 0;
	width: 375px;
	height: 15px;
}

.scale_info {
	margin: 20px 0 0 0;
	font-size:10px;
	width: 375px;
}

.scale_td {
	border-left: 1px dotted gray;
	border-right: 1px dotted gray;
}

.percent {
	float: left;
	height: 15px;
	background-color: #000;
	filter: alpha(opacity=50);
	opacity: 0.5;
}

.scale_img {
	position: relative;
	top: 15px;
	margin-left: -5px;
}

.thumb_list {
	padding-top: 20px;
}

.thumb_list h3, .thumb_list h4 {
	margin-bottom: 2px;
}

.list_cart {}

.list_cart h2 {
	margin: 10px 0 10px 0 !important;
}

.list_cart table th {
	color: #eaeaea !important;
	background: #696969;
	font-weight: normal;
	text-transform: uppercase;
	padding: 8px 0 8px 0;
	font-size:11px;
}

.list_cart table td {
	border-bottom: 1px solid gray;
	padding: 8px 0 8px 0;
}

.list_cart_total {
	padding: 8px 12px 8px 0;
	font-weight: bold;
	font-size:18px;
}

.thumbs img, .list_cart img, .cart_block img {
	border: 1px solid #E7E7E7;
	-webkit-box-shadow: 3px 3px 7px #777;
	box-shadow: 3px 3px 7px #777;
}

.list_address {}

.list_address input[type="text"], .list_address input[type="password"] {
	width: 100%
}

.list_address td {
	padding: 6px 4px 6px 4px;
	vertical-align: middle;
}

.list_address .required {
	color: #E90000 !important;
}

.cart_block {
	float: left;
	width: 333px;
	border-bottom: 1px solid gray;
}

.price_info {
	width: 212px;
	margin: 0px;
	margin-top: 6px;
	padding: 6px 6px 6px 12px;
	text-align: left;
}

.price_info ul {
	width: 100%;
}

.price_info p {
	font-weight:bold;
	font-size:16px;
}

.gallery-item{
	float: left;
	padding: 9px;
	margin: 7px;
	width: 200px;
	height: 230px;
	border: 1px solid #CCC;
	text-align: center;
}

.gallery-item .image-wrapper{
	width: 200px;
	height: 200px;
}

.gallery-item img{
	display: none;
}

div#spot-top{
	background: url(../images/spot_top.png) 0 0 no-repeat transparent;
	width: 250px;
	height: 150px;
/*
	z-index: 100;
*/
	position: absolute;
	top: 0px;
	margin-left: -120px;
}

div#spot-bottom{
	background: url(../images/spot_bottom.png) 0 0 no-repeat transparent;
	width: 309px;
	height: 242px;
	z-index: 100;
	position: absolute;
	margin-top: -70px;
	margin-left: 630px;
}

div#spot-middle{
	background: url(../images/spot_middle.png) 50% 0 no-repeat transparent;
	width: 100%;
	height: 285px;
	z-index: 100;
	position: absolute;
	margin-top: -200px;
}

.main_middle_block{
	width: 380px; 
	float:left; 
	padding: 14px 24px 0; 
	background-color: white; 
	border: #DFDFDF solid 1px;
	height: 265px;
	position: relative;
}

.main_middle_block .for_button{
	position: absolute; 
	bottom: 5px;
}

.main_middle_block h3{
	margin-bottom: 20px;
	text-align: center;
}

.main_middle_block.right p, .main_middle_block.right div{
	margin-left: 40px;
}
