<div class="container_24">
	<article class="grid_8">
		<a class="footer-logo" href="/"></a>
		Алматы, ул. Кабанбай Батыра 1
		<p>Телефон/Факс: +7 (727)  291 7085 /
291 7290&nbsp;</br> Мобильный : +7 (777)  243 2439&nbsp; E-mail: <a href="/">info@naholste.kz</a></p>
		
	</article>
	<article class="grid_9 prefix_7">
	<!-- AddThis Button BEGIN -->
		<div class="addthis_toolbox addthis_default_style addthis_32x32_style" style="position: absolute; bottom: 20px; right: 5px;">
		<a class="addthis_button_facebook"></a>
		<a class="addthis_button_twitter"></a>
		<a class="addthis_button_mymailru"></a>
		<a class="addthis_button_vk"></a>
		<a class="addthis_button_compact"></a>
		<a class="addthis_button_google_plusone" g:plusone:count='false'></a>
		
		</div>
		<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4d8a561d3c91ced7"></script>
	<!-- AddThis Button END -->
	</article>
	<script type="text/javascript">
		var temp_h = $('footer .grid_8').height();
		$('.grid_9').height(temp_h);
	</script>
	
	
</div>
