{% extends 'base.html' %}
{% load list_mosaic_thumb %}
{% load mosaic_table %}

{% block content %}
	<script type="text/javascript">
		function GlobalOption() {
			/* ------------------------------ */
			/*              DATA              */
			/* ------------------------------ */
			this.oSize = false;
			this.oFrame = false;
			this.oPackaging = false;
			///
			this.img_size = {{ form.instance.img_size.id }};
			this.img_effect = {{ form.instance.img_effect }};
			this.qty = {{ form.instance.qty }};
			///
			{% if form.instance.frame %}
				this.frame = {{ form.instance.frame.id }};
			{% else %}
				this.frame = 0;
			{% endif %};
			///
			{% if form.instance.packaging %}
				this.packaging = {{ form.instance.packaging.id }};
			{% else %}
				this.packaging = 0;
			{% endif %};
			///
			this.effect = [];
			///
			{% for i in dataEffect %}
				this.effect[{{ i.0 }}] = '{{ i.1 }}';
			{% endfor %}
			/* ------------------------------ */
			/*            METHODS             */
			/* ------------------------------ */
			this.showSize = function(id) {
				$('#ul_size_1').hide();
				$('#ul_size_2').hide();
				$('#ul_size_3').hide();
				///
				$('#ul_size_'+id).show();
			};
			///
			this.data_price = function() {
				var data = [];
				///
				if (this.img_size > 0) {
					data.push({
						'name':'Размер: ' + this.oSize.title,
						'price':this.oSize.price * this.qty
					});
				}
				///
				if (this.frame > 0) {
					data.push({
						'name':'Рамка: ' + this.oFrame.items[this.frame].title,
						'price':this.oFrame.items[this.frame].price * this.qty
					});
				}
				///
				if (this.packaging > 0) {
					data.push({
						'name':'Упаковка: ' + this.oPackaging.items[this.packaging].title,
						'price':this.oPackaging.items[this.packaging].price * this.qty
					});
				}
				///
				this.show_price(data);
			};
			/* ------------------------------ */
			/*             EVENTS             */
			/* ------------------------------ */
			this.effect_event = function(obj) {
				var v = obj.value;
				///
				if (v > 0) {
					this.img_effect = v;
					///
					$('input[name="effect"]').val(v);
					///
					effectMosaicImage('/mosaic/effect?id={{ form.instance.id }}&eff='+v);
				}
			};
			///
			this.size_event = function(obj) {
				var val = obj.value;
				///
				if (val > 0) {
					this.img_size = val;
					///
					this.data_price();
				}
			};
			///
			this.frame_event = function(obj) {
				var val = obj.value;
				///
				if (val >= 0) {
					this.frame = val;
					///
					this.data_price();
				}
			};
			///
			this.packaging_event = function(obj) {
				var val = obj.value;
				///
				if (val >= 0) {
					this.packaging = val;
					///
					this.data_price();
				}
			};
			///
			this.qty_event = function(event) {};
			///
			this.qty_change = function() {
				var val = $('#id_qty').val();
				///
				if (val <= 0) {
					$('#id_qty').val(1);
					///
					this.qty = 1;
				}
				else {
					this.qty = val;
				}
				///
				this.data_price();
			};
		}
		///
		GlobalOption.prototype = new Sizer();
		GlobalOption.prototype.constructor = GlobalOption;
		///
		oGlobalOption = new GlobalOption();
	</script>

	<div class="main"><h1>Параметры изображения</h1></div>
	<div class="container_24">
		<div class="wrapper">
			<div id="choise_thumb_prev" class="left">
				{% if form.instance.table_type == 1 %}
					{% mosaic_table_1 form.instance %}
				{% endif %}
				{% if form.instance.table_type == 2 %}
					{% mosaic_table_2 form.instance %}
				{% endif %}
				{% if form.instance.table_type == 3 %}
					{% mosaic_table_3 form.instance %}
				{% endif %}
			</div>
		
			<form action="" method="post" class="mosaic_form left">
				{% csrf_token %}
				{{ form.to_cart }}
				<div>
					<table>
						
						<tr>
							<td valign="middle">
								Количество:
							</td>
							<td>
								{{ form.qty }}
							</td>
						</tr>
						{% block form_qty_errors %}
							{% autoescape off %}
								<tr>
									<td colspan="2">
										{{ form.qty.errors }}
									</td>
								</tr>
							{% endautoescape %}
						{% endblock %}

						<tr>
							<td valign="middle">
								Эффекты:
							</td>
							<td>
								{{ form.img_effect }}
							</td>
						</tr>
						{% block form_img_effect_errors %}
							{% autoescape off %}
								<tr>
									<td colspan="2">
										{{ form.img_effect.errors }}
									</td>
								</tr>
							{% endautoescape %}
						{% endblock %}

						<tr>
							<td valign="middle">
								Размер:
							</td>
							<td>
								{{ form.img_size }}
							</td>
						</tr>
						{% block form_table_size_errors %}
							{% autoescape off %}
								<tr>
									<td colspan="2">
										{{ form.table_size.errors }}
									</td>
								</tr>
							{% endautoescape %}
						{% endblock %}

						<tr>
							<td valign="middle">
								Рамка:
							</td>
							<td>
								{{ form.frame }}
							</td>
						</tr>
						{% block form_frame_errors %}
							{% autoescape off %}
								<tr>
									<td colspan="2">
										{{ form.frame.errors }}
									</td>
								</tr>
							{% endautoescape %}
						{% endblock %}
						
						<tr>
							<td valign="middle">
								Упаковка:
							</td>
							<td>
								{{ form.packaging }}
							</td>
						</tr>
						{% block form_packaging_errors %}
							{% autoescape off %}
								<tr>
									<td colspan="2">
										{{ form.packaging.errors }}
									</td>
								</tr>
							{% endautoescape %}
						{% endblock %}
						
						<tr>
							<td colspan="2">
								<input type="submit" value="В корзину" onmousedown="setValCart(1);" class="right" />
								<input type="submit" value="Сохранить" onmousedown="setValCart(0);" class="right" />
							</td>
						</tr>
					</table>
				</div>
			</form>

			<div class="price_info left" id="price_info"></div>
			
			<div class="clear"></div>

			<div class="thumb_list">
				{% list_mosaic_thumbs thumbs %}
			</div>
			
		</div>
	</div>
	
	<script type="text/javascript">
		oGlobalOption.oSize = oimg_sizeData;
		oGlobalOption.oFrame = oframeData;
		oGlobalOption.oPackaging = opackagingData;
		///
		jQuery(function () {
			oGlobalOption.showSize({{ form.instance.table_type }});
			///
			oGlobalOption.data_price();
		});
	</script>

{% endblock %}
