{% extends 'base.html' %}

{% block content %}
	
	<div class="main">
		<div class="block-top">
			<div id="coin-slider">
				<img src="/static/images/slides/1.png" alt="">
				<div class="banner">
					Be<br /> Successful<br />
					<strong>with Us!</strong>
				</div>
				<img src="/static/images/slides/2.png" alt="">
				<div class="banner">
					Business<br /> Solutions<br />
					of <strong>New Age</strong>
				</div>
				<img src="/static/images/slides/3.png" alt="">
				<div class="banner">
					Light   Ideas<br>
					for <strong>Your</strong><br>
					Success!
				</div>
				<img src="/static/images/slides/4.png" alt="">
				<div class="banner">
					Quality.<br>
					Support.<br>
					Ideas.
				</div>
				<img src="/static/images/slides/5.png" alt="">
				<div class="banner">
					Ideas.<br>
					Quality.<br>
					Support.
				</div>
			</div>
			<!-- <img src="/static/images/img_girl.jpg" width="314" height="220" style="float:left" />
			<div class="note">Любая фотография может стать шедевром...</div>
			<img style="float: right;" src="/static/images/img_married.jpg" width="257" height="220" /> -->
		</div>
		<div class="clear"></div>
		<DIV class="top-shadow"></div>
		<div class="highlight">Узнайте, как оживить воспоминание и украсить им интерьер вашего дома!</div>
		<div class="centr">
			<div class="main_middle_block">
				<h3 style="margin-bottom: 20px; text-align: center;">Печать фото на холсте</h3>
				<p>Закажите печать вашей любимой фотографии на холсте и посмотрите, как она оживет, став настоящим произведением искусства! Мы превратим 
				драгоценные воспоминания в эксклюзивные декоративные шедевры – специально для вас.<br />
				  Фото на холсте – это превосходный подарок друзьям и близким людям. Такая оригинальная идея обязательно удивит и порадует тех, 
				  кого вы любите! </p>
				  <div class="for_button"><a class="button1" href="#">Узнать больше</a></div>
			</div>
			<div class="main_middle_block right" style="font-size:18px; line-height: 34px; margin-left: 90px">
				<h3>3 простых шага для заказа</h3>
				<p>1  Загрузите ваше фото</p>
				<p>2  Выберите нужный ​​размер</p>
				<p>3 Закажите печать на холсте </p>
				<div class="for_button"><a class="button1" href="/crop/upload/">Загрузить фото</a></div>
			</div>
		</div>
		<div style="clear:both"></div>
		<div class="centr" style="margin-top:20px">
			<div class="thblock">
				<h2>Мультихолст</h2>
				<img src="/static/images/img_multicanv.jpg" width="257" height="108" alt="multicanvas" />
				<p>Приведите в восторг ваших гостей – украсьте интерьер грандиозным фотопанно! Мультихолст - это современная изюминка дизайна!</p>
			</div>
			<div class="thblock">
				<h2>Коллаж</h2>
				<img src="/static/images/img_collage.jpg" width="257" height="108" alt="multicanvas" />
				<p>Не можете выбрать одну фотографию? И не надо! Закажите коллаж – пусть на одном холсте будет целая коллекция ваших любимых фото!</p>
			</div>
			<div class="thblock" style="margin-right:0">
				<h2>Галерея</h2>
				<img src="/static/images/img_gallery.jpg" width="257" height="108" alt="multicanvas" />
				<p>Добро пожаловать в виртуальную галерею! Вы обязательно найдете в ней именно тот холст, который вам захочется иметь у себя дома...<br />
				</p>
			</div>
		</div>
		<div style="clear:both"></div>
		<div class="centr" style="margin-top: 20px; background-color: transparent;">
			Печать на холсте уже стала модной тенденцией в современном дизайне интерьеров, придавая им новое, нестандартное звучание. Изображение может быть 
			любого размера, а сам холст весит совсем немного. Благодаря качественным материалам и новейшим технологиям фото на холсте радует своих владельцев в 
			течение долгого времени, не выцветая и не теряя яркости и глубины палитры. Специальные светоустойчивые чернила имеют срок службы не менее 25 лет. 
			Художественный холст натягивается на подрамник из безупречно просушенной древесины. Каждое фото на холсте тщательно ламинируется и становится 
			нечувствительным к механическим повреждениям и воздействию влаги. 
		</div>
	</div>
	<div class="container_24">
		<div class="wrapper p5">
		</div>
	</div>

{% endblock %}
