{% extends 'base.html' %}

{% block content %}
	<div class="main"><h1 style="margin-bottom: 0px;">Корзина</h1></div>
	<div class="container_24">
		<div class="wrapper">
			<div class="list_cart">
				{% if crop_option %}
					<table width="100%">
						<tr>
							<td colspan="11" align="center">
								<h2>Фото на холсте</h2>
							</td>
						</tr>
						<tr>
							<th>Опции</th>
							<th>Изображение</th>
							<th>Натяжка</th>
							<th>Ориентация</th>
							<th>Размер</th>
							<th>Эффекты</th>
							<th>Рамка</th>
							<th>Упаковка</th>
							<th>Количество</th>
							<th>Цена</th>
							<th>Сумма</th>
						</tr>
						{% for opt in crop_option %}
							<tr>
								<td valign="middle" align="center">
									<a href="/crop/option/{{ opt.char_id }}/">Изменить</a>
									<br />
									<br />
									<a href="/cart/del/?opt_id={{ opt.char_id }}&type_id=1" >Удалить</a>
								</td>
								<td valign="middle" align="center">
									<a href="/crop/option/{{ opt.char_id }}/">
										<img src="{{ opt.image }}" alt="" />
									</a>
								</td>
								<td valign="middle" align="center">
									{{ opt.img_stretch }}
								</td>
								<td valign="middle" align="center">
									{{ opt.img_type }}
								</td>
								<td valign="middle" align="center">
									{{ opt.img_size }}
								</td>
								<td valign="middle" align="center">
									{{ opt.img_effect }}
								</td>
								<td valign="middle" align="center">
									{{ opt.frame }}
								</td>
								<td valign="middle" align="center">
									{{ opt.packaging }}
								</td>
								<td valign="middle" align="center">
									{{ opt.qty }}
								</td>
								<td valign="middle" align="center">
									{{ opt.price }}
								</td>
								<td valign="middle" align="center">
									<b>{{ opt.summ }}</b>
								</td>
							</tr>
						{% endfor %}
						<tr>
							<td colspan="11" align="right">
								<b>Сумма: {{ crop_total }}</b>
							</td>
						</tr>
					</table>
				{% endif %}

				{% if puzzle_option %}
					<table width="100%">
						<tr>
							<td colspan="11" align="center">
								<h2>Мультихолст</h2>
							</td>
						</tr>
						<tr>
							<th>Опции</th>
							<th>Изображение</th>
							<th>Натяжка</th>
							<th>Ориентация</th>
							<th>Размер</th>
							<th>Эффекты</th>
							<th>Рамка</th>
							<th>Упаковка</th>
							<th>Количество</th>
							<th>Цена</th>
							<th>Сумма</th>
						</tr>
						{% for opt in puzzle_option %}
							<tr>
								<td valign="middle" align="center">
									<a href="/puzzle/option/{{ opt.char_id }}/">Изменить</a>
									<br />
									<br />
									<a href="/cart/del/?opt_id={{ opt.char_id }}&type_id=2" >Удалить</a>
								</td>
								<td valign="middle" align="center">
									<a href="/puzzle/option/{{ opt.char_id }}/">
										<img src="{{ opt.image }}" alt="" />
									</a>
								</td>
								<td valign="middle" align="center">
									{{ opt.img_stretch }}
								</td>
								<td valign="middle" align="center">
									{{ opt.img_type }}
								</td>
								<td valign="middle" align="center">
									{{ opt.img_size }} см
								</td>
								<td valign="middle" align="center">
									{{ opt.img_effect }}
								</td>
								<td valign="middle" align="center">
									{{ opt.frame }}
								</td>
								<td valign="middle" align="center">
									{{ opt.packaging }}
								</td>
								<td valign="middle" align="center">
									{{ opt.qty }}
								</td>
								<td valign="middle" align="center">
									{{ opt.price }}
								</td>
								<td valign="middle" align="center">
									<b>{{ opt.summ }}</b>
								</td>
							</tr>
						{% endfor %}
						<tr>
							<td colspan="11" align="right">
								<b>Сумма: {{ puzzle_total }}</b>
							</td>
						</tr>
					</table>
				{% endif %}

				{% if mosaic_option %}
					<table width="100%">
						<tr>
							<td colspan="9" align="center">
								<h2>Коллаж</h2>
							</td>
						</tr>
						<tr>
							<th>Опции</th>
							<th>Изображение</th>
							<th>Размер</th>
							<th>Эффекты</th>
							<th>Рамка</th>
							<th>Упаковка</th>
							<th>Количество</th>
							<th>Цена</th>
							<th>Сумма</th>
						</tr>
						{% for opt in mosaic_option %}
							<tr>
								<td valign="middle" align="center">
									<a href="/mosaic/option?opt_id={{ opt.opt_id }}">Изменить</a>
									<br />
									<br />
									<a href="/cart/del/?opt_id={{ opt.opt_id }}&type_id=3" >Удалить</a>
								</td>
								<td valign="middle" align="center">
									<a href="/mosaic/option?opt_id={{ opt.opt_id }}">
										<img src="{{ opt.image }}" alt="" />
									</a>
								</td>
								<td valign="middle" align="center">
									{{ opt.table_size }}
								</td>
								<td valign="middle" align="center">
									{{ opt.effect }}
								</td>
								<td valign="middle" align="center">
									{{ opt.frame }}
								</td>
								<td valign="middle" align="center">
									{{ opt.packaging }}
								</td>
								<td valign="middle" align="center">
									{{ opt.qty }}
								</td>
								<td valign="middle" align="center">
									{{ opt.price }}
								</td>
								<td valign="middle" align="center">
									<b>{{ opt.summ }}</b>
								</td>
							</tr>
						{% endfor %}
						<tr>
							<td colspan="9" align="right">
								<b>Сумма: {{ mosaic_total }}</b>
							</td>
						</tr>
					</table>
				{% endif %}
				
				{% if total > 0 %}
					<table width="100%" style="margin-top: 30px;">
						<tr>
							<td align="center" class="list_cart_total">Сумма к оплате: {{ total }} тенге</td>
						</tr>
						<tr>
							<td align="center" class="list_cart_total">
								<input type="button" onclick="document.location='{{ to_url }}';" value="К оплате" />
							</td>
						</tr>
					</table>
				{% else %}
					<table width="100%">
						<tr>
							<td align="center">Пусто</td>
						</tr>
					</table>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
