{% extends "base.html" %}

{% block heading %}User basic form{% endblock %}

{% block content %}
	<div class="main">
		<h1 style="margin-bottom: 0px;">Авторизация с помощью OpenID</h1>
	</div>
	<div class="container_24">
		<div class="wrapper">
			<form action="" method="post">
				{% csrf_token %}
				<p>
					<label for="id_username">Username</label>
					<input type="text" name="username" id="id_username" value="" />
				</p>

				<input type="submit" value="Send" />
			</form>
		</div>
	</div>		
{% endblock %}
