{% load mosaic_table %}
<table class="mosaic_div">
	<tr>
		<td style="width: 289px;">
			<div id="td_0" class="mosaic_div_td left" style="width: {{ TYPE_SIZE_2.0.0 }}px; height: {{ TYPE_SIZE_2.0.1 }}px;" onclick="$('#file_block_0').show();">
				{% if thumb.f_0 %}
					<img id="img_thumb_0" src="{{ dir }}{{ thumb.f_0 }}.{{ ext }}" alt="" />
				{% else %}
					{% mosaic_table_form thumb 0 TYPE_SIZE_2.0.0 %}
				{% endif %}
			</div>
			<div id="td_2" class="mosaic_div_td left" style="width: {{ TYPE_SIZE_2.2.0 }}px; height: {{ TYPE_SIZE_2.2.1 }}px;" onclick="$('#file_block_2').show();">
				{% if thumb.f_2 %}
					<img id="img_thumb_2" src="{{ dir }}{{ thumb.f_2 }}.{{ ext }}" alt="" />
				{% else %}
					{% mosaic_table_form thumb 2 TYPE_SIZE_2.2.0 %}
				{% endif %}
			</div>
			<div id="td_3" class="mosaic_div_td left" style="border-left: none; width: {{ TYPE_SIZE_2.3.0 }}px; height: {{ TYPE_SIZE_2.3.1 }}px;" onclick="$('#file_block_3').show();">
				{% if thumb.f_3 %}
					<img id="img_thumb_3" src="{{ dir }}{{ thumb.f_3 }}.{{ ext }}" alt="" />
				{% else %}
					{% mosaic_table_form thumb 3 TYPE_SIZE_2.3.0 %}
				{% endif %}
			</div>
		</td>
		<td style="width: 193px;">
			<div id="td_1" class="mosaic_div_td left" style="width: {{ TYPE_SIZE_2.1.0 }}px; height: {{ TYPE_SIZE_2.1.1 }}px;" onclick="$('#file_block_1').show();">
				{% if thumb.f_1 %}
					<img id="img_thumb_1" src="{{ dir }}{{ thumb.f_1 }}.{{ ext }}" alt="" />
				{% else %}
					{% mosaic_table_form thumb 1 TYPE_SIZE_2.1.0 %}
				{% endif %}
			</div>
			<div id="td_4" class="mosaic_div_td left" style="width: {{ TYPE_SIZE_2.4.0 }}px; height: {{ TYPE_SIZE_2.4.1 }}px;" onclick="$('#file_block_4').show();">
				{% if thumb.f_4 %}
					<img id="img_thumb_4" src="{{ dir }}{{ thumb.f_4 }}.{{ ext }}" alt="" />
				{% else %}
					{% mosaic_table_form thumb 4 TYPE_SIZE_2.4.0 %}
				{% endif %}
			</div>
			<div id="td_5" class="mosaic_div_td left" style="border-left: none; width: {{ TYPE_SIZE_2.5.0 }}px; height: {{ TYPE_SIZE_2.5.1 }}px;" onclick="$('#file_block_5').show();">
				{% if thumb.f_5 %}
					<img id="img_thumb_5" src="{{ dir }}{{ thumb.f_5 }}.{{ ext }}" alt="" />
				{% else %}
					{% mosaic_table_form thumb 5 TYPE_SIZE_2.5.0 %}
				{% endif %}
			</div>
			<div id="td_6" class="mosaic_div_td left" style="border-top: none; width: {{ TYPE_SIZE_2.6.0 }}px; height: {{ TYPE_SIZE_2.6.1 }}px;" onclick="$('#file_block_6').show();">
				{% if thumb.f_6 %}
					<img id="img_thumb_6" src="{{ dir }}{{ thumb.f_6 }}.{{ ext }}" alt="" />
				{% else %}
					{% mosaic_table_form thumb 6 TYPE_SIZE_2.6.0 %}
				{% endif %}
			</div>
		</td>
	</tr>
</table>
