<div id="file_block_{{ div_id }}" style="width: {{ width }}px; overflow: hidden; display: none;">
	<center>
		<form id="upload_form_{{ div_id }}" action="" method="post" enctype="multipart/form-data">             
			{% csrf_token %}
			{{ form.as_p }}
			<input type="submit" value="Загрузить" onclick="setMosaicUpload('{{ id }}', '{{ div_id }}');" />
		</form>
		<div id="progress_{{ div_id }}" class="progress">
			<img src="/static/images/loader2.gif" alt="" />
			&nbsp;&nbsp;&nbsp;Загружаю изображение...
		</div>
	</center>
</div>
