{% load mosaic_table %}
<table class="mosaic_table">
	<tr>
		<td id="td_0" style="width: {{ TYPE_SIZE_1.0.0 }}px; height: {{ TYPE_SIZE_1.0.1 }}px; border: 1px solid #bfbfbf;" onclick="$('#file_block_0').show();">
			{% if thumb.f_0 %}
				<img id="img_thumb_0" src="{{ dir }}{{ thumb.f_0 }}.{{ ext }}" alt="" />
			{% else %}
				{% mosaic_table_form thumb 0 TYPE_SIZE_1.0.0 %}
			{% endif %}
		</td>
		<td id="td_1" style="width: {{ TYPE_SIZE_1.1.0 }}px; height: {{ TYPE_SIZE_1.1.1 }}px; border: 1px solid #bfbfbf;" onclick="$('#file_block_1').show();">
			{% if thumb.f_1 %}
				<img id="img_thumb_1" src="{{ dir }}{{ thumb.f_1 }}.{{ ext }}" alt="" />
			{% else %}
				{% mosaic_table_form thumb 1 TYPE_SIZE_1.1.0 %}
			{% endif %}
		</td>
		<td id="td_2" style="width: {{ TYPE_SIZE_1.2.0 }}px; height: {{ TYPE_SIZE_1.2.1 }}px; border: 1px solid #bfbfbf;" onclick="$('#file_block_2').show();">
			{% if thumb.f_2 %}
				<img id="img_thumb_2" src="{{ dir }}{{ thumb.f_2 }}.{{ ext }}" alt="" />
			{% else %}
				{% mosaic_table_form thumb 2 TYPE_SIZE_1.2.0 %}
			{% endif %}
		</td>
	</tr>
	<tr>
		<td id="td_3" style="width: {{ TYPE_SIZE_1.3.0 }}px; height: {{ TYPE_SIZE_1.3.1 }}px; border: 1px solid #bfbfbf;" onclick="$('#file_block_3').show();">
			{% if thumb.f_3 %}
				<img id="img_thumb_3" src="{{ dir }}{{ thumb.f_3 }}.{{ ext }}" alt="" />
			{% else %}
				{% mosaic_table_form thumb 3 TYPE_SIZE_1.3.0 %}
			{% endif %}
		</td>
		<td id="td_4" style="width: {{ TYPE_SIZE_1.4.0 }}px; height: {{ TYPE_SIZE_1.4.1 }}px; border: 1px solid #bfbfbf;" onclick="$('#file_block_4').show();">
			{% if thumb.f_4 %}
				<img id="img_thumb_4" src="{{ dir }}{{ thumb.f_4 }}.{{ ext }}" alt="" />
			{% else %}
				{% mosaic_table_form thumb 4 TYPE_SIZE_1.4.0 %}
			{% endif %}
		</td>
		<td id="td_5" style="width: {{ TYPE_SIZE_1.5.0 }}px; height: {{ TYPE_SIZE_1.5.1 }}px; border: 1px solid #bfbfbf;" onclick="$('#file_block_5').show();">
			{% if thumb.f_5 %}
				<img id="img_thumb_5" src="{{ dir }}{{ thumb.f_5 }}.{{ ext }}" alt="" />
			{% else %}
				{% mosaic_table_form thumb 5 TYPE_SIZE_1.5.0 %}
			{% endif %}
		</td>
	</tr>
	<tr>
		<td id="td_6" style="width: {{ TYPE_SIZE_1.6.0 }}px; height: {{ TYPE_SIZE_1.6.1 }}px; border: 1px solid #bfbfbf;" onclick="$('#file_block_6').show();">
			{% if thumb.f_6 %}
				<img id="img_thumb_6" src="{{ dir }}{{ thumb.f_6 }}.{{ ext }}" alt="" />
			{% else %}
				{% mosaic_table_form thumb 6 TYPE_SIZE_1.6.0 %}
			{% endif %}
		</td>
		<td id="td_7" style="width: {{ TYPE_SIZE_1.7.0 }}px; height: {{ TYPE_SIZE_1.7.1 }}px; border: 1px solid #bfbfbf;" onclick="$('#file_block_7').show();">
			{% if thumb.f_7 %}
				<img id="img_thumb_7" src="{{ dir }}{{ thumb.f_7 }}.{{ ext }}" alt="" />
			{% else %}
				{% mosaic_table_form thumb 7 TYPE_SIZE_1.7.0 %}
			{% endif %}
		</td>
		<td id="td_8" style="width: {{ TYPE_SIZE_1.8.0 }}px; height: {{ TYPE_SIZE_1.8.1 }}px; border: 1px solid #bfbfbf;" onclick="$('#file_block_8').show();">
			{% if thumb.f_8 %}
				<img id="img_thumb_8" src="{{ dir }}{{ thumb.f_8 }}.{{ ext }}" alt="" />
			{% else %}
				{% mosaic_table_form thumb 8 TYPE_SIZE_1.8.0 %}
			{% endif %}
		</td>
	</tr>
</table>
